@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #363333;

  font-family: 'Nunito Sans', sans-serif;
}

img {
  margin-top: 32px;
  width: 128px;
  height: 128px;

  border-radius: 100%;
  border: 3px solid #F6E9E9;
  padding: 6px;

  object-fit: cover;
}

h1 {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 40px;

  color: #F6E9E9;
}

svg {
  margin: 8px;
}

span {
  color: #A19090;

  margin-bottom: 32px;

  font-size: 20px;
}

a {
  border: 3px solid;
  border-radius: 100px;
  
  width: 280px;
  height: 60px;
  margin-bottom: 24px;
  padding: 15px;

  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #E16428;

  box-shadow: 0px 2px 6px 0px #27212180;

  transition: .5s;
}
a:hover {
  background-color: #E16428;
  color: #F6E9E9;
}